---
import Icon from "#/components/ui/icon.astro";
import Link from "#/components/ui/link.astro";
import Text from "#/components/ui/text.astro";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
const year = new Date().getFullYear();
---

<footer
  class:list={[
    className,
    "border-border border-t pt-5",
    "grid gap-4 md:flex md:items-center md:justify-between",
  ]}
>
  <div class="space-y-2">
    <Text variant="muted">
      <span class="text-green-600 opacity-70 dark:text-green-400">$</span>
      echo "© $(date +"%Y") $(whoami)"
    </Text>
    <Text class="-ml-[1px]">
      © {year} mohammedsh · <Link href="/guestbook" class="hover:underline">sign</Link>
    </Text>
  </div>

  <Text size="fluid-sm" variant="muted" class="hidden italic md:block">
    Live a life you can be proud of. 🌸
  </Text>

  <div class="flex items-center justify-between md:gap-3">
    <Text size="fluid-sm" variant="muted" class="italic md:hidden">
      Live a life you can be proud of. 🌸
    </Text>

    <div class="flex items-center gap-3">
      <Link href="/api/arc.json" class="text-link hover:text-link-hover">/arc</Link>
      <Link href="/rss.xml" aria-label="RSS feed" class="text-link hover:text-link-hover">
        <Icon name="rss" size="sm" />
      </Link>
    </div>
  </div>
</footer>
