---
import StarBoy from "#/components/svg/star-boy.astro";
import Theme from "#/components/ui/theme.astro";
import Link from "#/components/ui/link.astro";
import * as List from "#/components/ui/list";

import { siteConfig } from "#/configs/site";

const currentPath = Astro.url.pathname;
---

<header
  class="flex w-full flex-col items-center justify-center gap-4 select-none md:flex-row md:justify-between md:gap-0 md:py-4"
>
  <Link href="/" size="fluid-2xl" class="font-8bit flex items-center gap-3 font-bold">
    <StarBoy class="text-foreground size-10" />
    <span class="gradient-text">Mohammed's Blog</span>
  </Link>

  <nav class="flex items-center font-mono print:hidden">
    <div class="text-fluid-base flex items-center justify-center gap-3">
      <span class="text-green-600 dark:text-green-400">></span>

      <List.Root class="flex flex-row flex-wrap items-center gap-2">
        {
          siteConfig.navLinks.map((link, i) => (
            <>
              <List.ItemLink
                href={link.href}
                class={currentPath === link.href ? "text-link" : "text-link hover:text-link-hover"}
              >
                {link.label}
              </List.ItemLink>

              {i < siteConfig.navLinks.length - 1 && <span class="text-foreground">|</span>}
            </>
          ))
        }
      </List.Root>

      <Theme />
    </div>
  </nav>
</header>
