# Alchemy deploy values
ALCHEMY_PASSWORD=secret
VERCEL_ACCESS_TOKEN=
VERCEL_PROJECT_NAME=mohammedsh-www
VERCEL_GIT_REPO=mohammedsh/www
VERCEL_DOMAIN=mohammedsh.xyz

USERNAME=mohxmd
GITHUB_TOKEN=

TURSO_DATABASE_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=

# Website chat
CHAT_COOKIE_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_USER_ID=
TELEGRAM_WEBHOOK_SECRET=
