# build output
dist/

# dev time
tmp/

# generated types
.astro/
.vercel
.alchemy/

# dependencies
node_modules/
local.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-error.log*

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# astro
.astro

# vscode
.vscode

# yarn 
yarn.lock
