---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "#/layouts/layout.astro";
import Callout from "#/components/ui/callout.astro";
import NoteCard from "#/components/ui/note-card.astro";

import RecentPosts from "./_components/recent-posts.astro";
import Hero from "./_components/hero.astro";
import Contact from "./_components/contact.astro";
import ProjectCard from "../projects/_components/project-card.astro";

// assets
import Armin from "#/assets/armin.gif";
import Text from "#/components/ui/text.astro";

const projects = await getCollection("projects");
const lastThreeProjects = projects.slice(0, 2);
---

<Layout title="Mohammed's blog" class="space-y-6 pt-6">
  <Hero />
  <RecentPosts />

  <section class="grid auto-rows-fr grid-cols-1 gap-2 md:grid-cols-2">
    <Callout
      title="Recent Projects"
      class="bg-transparent"
      icon="shapes"
      contentClass="pt-2 grid gap-4"
    >
      {lastThreeProjects.map((project) => <ProjectCard project={project.data} />)}
    </Callout>

    <Callout title="Get in touch" icon="handshake" contentClass="p-2">
      <Contact />
    </Callout>
  </section>

  <section>
    <NoteCard
      title="Beyond the Walls"
      subtitle="Shiganshina District — Year 850"
      class="font-syne-mono text-fluid-base"
    >
      <Image
        src={Armin}
        alt="Armin Arlert under the sky"
        format="webp"
        class="rounded-md md:max-w-[500px]"
      />

      <Text>
        “People who can’t throw something important away can never hope to change anything.” — Armin
        Arlert

        <br />
        <br />

        Sometimes coding feels the same way: you can’t build new systems unless you’re brave enough
        to refactor, to leave behind what no longer works, and trust in the vision of something
        better.

        <br />
        <br />

        Like Armin staring at the ocean, every project is a reminder that beyond the walls of our
        comfort zone, there’s always a world of possibility.
      </Text>
    </NoteCard>
  </section>
</Layout>
