---
import Layout from "#/layouts/layout.astro";
import Link from "#/components/ui/link.astro";
import Text from "#/components/ui/text.astro";
---

<Layout title="Mohammed's blog | Page Not Found">
  <section class="h-[calc(100vh-257.98px)]">
    <div class="font-8bit flex h-full w-full flex-col items-center justify-center space-y-5">
      <Text as="h1" size="3xl" class="text-center leading-none font-bold">404</Text>
      <Text size="2xl" class="text-center leading-snug">Page Not Found</Text>

      <Link href="/" class="hover:text-link-hover" icon="arrow-left">Go Back Home</Link>
    </div>
  </section>
</Layout>
