---
import Layout from "#/layouts/layout.astro";
import Link from "#/components/ui/link.astro";
import Text from "#/components/ui/text.astro";
import ContactChat from "./about/_components/contact-chat.astro";

export const prerender = true;
---

<Layout title="Mohammed's blog | About">
  <section class="flex flex-col gap-4 pb-8 text-base">
    <Text as="h1" size="fluid-3xl" variant="muted" class="font-8bit text-center font-bold"
      >🧑‍🚀 About Me !</Text
    >

    <!-- About Content -->
    <div class="font-syne-mono space-y-6 font-semibold">
      <Text as="h2" class="mt-3 mb-7 font-bold" size="fluid-lg">Hey there! 👋 I'm Mohammed, </Text>
      <Text>
        A tech-savvy teen who loves to create and explore the world of programming. I was born on
        21st March 2003, making me a 21st-century kid! 🎉
      </Text>
      <Text>
        I started my programming journey at the age of 15 back in 2018, and since then, I've been
        passionately tinkering with code and building exciting projects.
      </Text>
      <Text>
        I'm a full-stack developer and open-source enthusiast, embracing the collaborative nature of
        programming and the freedom to hack software to fit our needs. I support Free Software, Open
        Knowledge & Sharing.
      </Text>
      <Text>
        I'm currently based in Kerala, India, and I speak both Malayalam (മലയാളം) and English.
        Though I might not be a beginner anymore, I'm constantly exploring and learning new
        technologies to further improve my skills.
      </Text>
    </div>

    <!-- Contact Section -->
    <div class="font-syne-mono space-y-6">
      <Text as="h2" size="fluid-2xl" class="font-8bit mb-8 leading-9 font-bold"
        >📭 Contact Me !</Text
      >

      <ContactChat />

      <!-- Telegram / Discord -->
      <Text class="my-4">
        For the quickest response, reach me on Telegram
        <Link
          href="https://t.me/mohxmdsh"
          class="text-link hover:text-link-hover"
          target="_blank"
          aria-label="Contact via telegram"
        >
          @mohxmdsh
        </Link>
        or Discord <span class="text-link">@mohxmdsh</span>.
      </Text>

      <Text>
        Thanks for stopping by, and feel free to explore my projects and share your tech journey
        with me!
      </Text>

      <Text>Happy coding! 🚀</Text>
    </div>
  </section>
</Layout>
