---
export const prerender = false;

import { db, desc, guestbook } from "astro:db";
import { actions } from "astro:actions";
import Layout from "#/layouts/layout.astro";
import { formatDate } from "#/lib/utils";

import Text from "#/components/ui/text.astro";
import Input from "#/components/ui/input.astro";
import Button from "#/components/ui/button.astro";
import * as List from "#/components/ui/list";

const result = Astro.getActionResult(actions.addEntry);
if (result?.error) console.error(result.error);

const entries = await db.select().from(guestbook).orderBy(desc(guestbook.published));
---

<Layout title="Mohammed's blog | Guestbook">
  <section class="space-y-4 py-8 text-base">
    <div>
      <Text as="h1" size="fluid-2xl" class="font-8bit font-bold" variant="muted">Guestbook 🖋️</Text>
      <Text class="text-muted-foreground">Every visitor has a story — what’s yours?</Text>
    </div>

    <form id="🚁" method="POST" action={actions.addEntry} class="flex flex-col gap-3 md:flex-row">
      <Input type="text" name="name" placeholder="Name" required class="flex-1" />
      <Input type="text" name="message" placeholder="Note" required class="flex-3" />
      <Button type="submit" class="rounded-sm" variant="secondary">Sign</Button>
    </form>

    <List.Root class="flex flex-col gap-2">
      {
        entries.length > 0 ? (
          entries.map((entry) => (
            <List.Item class="flex items-center justify-between">
              <div class="flex gap-2">
                <Text size="fluid-base" class="font-medium whitespace-nowrap capitalize">
                  {entry.name}:
                </Text>
                <Text size="fluid-base" class="text-muted-foreground">
                  {entry.message}
                </Text>
              </div>
              <Text size="fluid-base" class="text-muted-foreground text-sm whitespace-nowrap">
                {formatDate(entry.published!)}
              </Text>
            </List.Item>
          ))
        ) : (
          <List.Item class="text-center italic">
            No messages yet — be the first to sign the guestbook ✍️
          </List.Item>
        )
      }
    </List.Root>
  </section>
</Layout>
