---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

type Props = HTMLAttributes<"div"> & FooterVariants;

export type FooterVariants = VariantProps<typeof variants>;

const variants = cva("flex flex-col-reverse gap-2 sm:flex-row sm:justify-end");

const { class: className, ...props } = Astro.props;
---

<div {...props} class={variants({ className })} data-slot="dialog-footer">
  <slot />
</div>
