---
import Icon from "#/components/ui/icon.astro";
import Link from "#/components/ui/link.astro";

import { siteConfig } from "#/configs/site";
import { cn } from "#/lib/utils";

type Props = { class?: string };
const { class: className } = Astro.props;
---

<div class={cn(className, "space-y-4")}>
  <div class="space-y-3">
    {
      siteConfig.contacts.map(({ icon, text, href }) => (
        <div class="flex items-center gap-3">
          <Icon name={icon} size="md" class="text-foreground" />
          <Link href={href} class="text-link hover:text-link-hover">
            {text}
          </Link>
        </div>
      ))
    }
  </div>
</div>
