---
import { Image } from "astro:assets";

import Text from "#/components/ui/text.astro";
import HeroImg from "#/assets/avatar.svg";
import Link from "#/components/ui/link.astro";
---

<section
  class="font-8bit text-muted-foreground flex flex-col items-center py-6 md:flex-row md:justify-between md:gap-x-24"
>
  <div class="flex-1 space-y-2 md:text-left">
    <Text class="font-8bit leading-tight font-bold" size="fluid-3xl" variant="muted">
      Hi there, I'm <span class="gradient-text">Mohammed</span> 👋
    </Text>

    <Text size="fluid-xl" class="font-8bit-regular mt-6 leading-9">
      A 21st-century tech-savvy, Mostly hacks on FOSS enthusiast, GNU/Linux user, blogger, and
      skilled programmer! Constantly pushing the boundaries of coding, embracing challenges, and
      contributing to the open-source community.
    </Text>

    <Link href="/guestbook" class="text-link hover:text-link-hover">→ Leave a Note 💬</Link>
  </div>

  <div class="shrink-0">
    <Image src={HeroImg} alt="avatar" class="h-80 w-64 not-md:hidden" />
  </div>
</section>
