---
import { getCollection } from "astro:content";
import Text from "#/components/ui/text.astro";
import ProjectCard from "#/pages/projects/_components/project-card.astro";

const projects = await getCollection("projects");
const lastThreeProjects = projects.slice(0, 2);
---

<section class="py-6">
  <Text as="h1" size="2xl" class="font-8bit mb-3">Recent Projects</Text>
  <div class="grid gap-4 sm:grid-cols-2">
    {lastThreeProjects.map((project) => <ProjectCard project={project.data} />)}
  </div>
</section>
