---
import type { HTMLAttributes } from "astro/types";

import * as Toast from "#/components/ui/toast";
import ArtPlum from "#/components/arts/art-plum.astro";
import Cd from "#/components/ui/cd.astro";

import BaseHead, { type Metadata } from "./_components/base-head.astro";
import Header from "./_components/header.astro";
import Footer from "./_components/footer.astro";
import ToTop from "#/components/ui/to-top.astro";

type Props = HTMLAttributes<"main"> & {
  metadata?: Metadata;
};

const { metadata = {}, class: className, ...props } = Astro.props;
---

<html lang="en" class="scroll-pt-24 antialiased [scrollbar-gutter:stable]">
  <head>
    <BaseHead metadata={metadata} />
  </head>
  <body>
    <div class="mx-auto flex min-h-screen max-w-5xl flex-col p-6 text-sm md:p-4">
      <Header />
      <main {...props} class:list={[className]}>
        <slot />
      </main>
      {Astro.url.pathname !== "/" && <Cd />}
      <Footer />
      {!Astro.url.pathname.startsWith("/blog/") && <ArtPlum />}
      <ToTop />
      <Toast.Root position="bottom-right" />
    </div>
  </body>
</html>
