---
import type { HTMLAttributes } from "astro/types";

import * as Toast from "#/components/ui/toast";
import ArtPlum from "#/components/arts/art-plum.astro";
import Cd from "#/components/ui/cd.astro";
import ToTop from "#/components/ui/to-top.astro";

import BaseHead, { type Metadata } from "./_components/base-head.astro";
import Footer from "./_components/footer.astro";
import SiteNav from "./_components/site-nav.astro";

type Props = Omit<HTMLAttributes<"main">, "title"> &
  Metadata & {
    metadata?: Metadata;
  };

const { metadata, class: className, ...props } = Astro.props;

const pageMetadata: Metadata = metadata ?? Astro.props;
---

<html lang="en" class="scroll-pt-24 scrollbar-gutter-stable antialiased">
  <head>
    <BaseHead metadata={pageMetadata} />
  </head>
  <body>
    <div class="mx-auto flex min-h-screen max-w-5xl flex-col p-6 text-sm md:p-4">
      <SiteNav />
      <main {...props} class:list={[className]}>
        <slot />
      </main>
      {Astro.url.pathname !== "/" && <Cd />}
      <Footer />
      {!Astro.url.pathname.startsWith("/blog/") && <ArtPlum />}
      <ToTop />
      <Toast.Root position="bottom-right" />
    </div>
  </body>
</html>
