---
import type { HTMLAttributes } from "astro/types";
import { cn } from "#/lib/utils";
import { buttonVariants, type ButtonVariants } from "./button-variants";
import Icon from "./icon.astro";

type Props = HTMLAttributes<"button"> & ButtonVariants & { icon?: string };

const { class: className, variant, size, icon, ...props } = Astro.props;
---

<button data-slot="button" class={cn(buttonVariants({ variant, size }), className)} {...props}>
  <slot />
  {size === "icon" && icon && <Icon name={icon} />}
</button>
