---
import Icon from "#/components/ui/icon.astro";
import Text from "#/components/ui/text.astro";
import { cn } from "#/lib/utils/cn";

type Props = {
  icon: string;
  title: string;
  class?: string;
  contentClass?: string;
};

const { icon, title, class: className, contentClass } = Astro.props;
---

<div class={cn("bg-secondary", className)}>
  <div class="bg-muted flex items-center gap-2 p-0.5">
    <Icon name={icon} size="sm" class="text-foreground" />
    <Text class="font-medium" size="sm">{title}</Text>
  </div>

  <div class={cn(contentClass)}>
    <slot />
  </div>
</div>
