---
import Icon from "#/components/ui/icon.astro";
---

<div class="pb-6">
  <button
    class="hover:text-primary group flex cursor-pointer items-center gap-1 bg-transparent transition-all duration-200 ease-in-out"
    aria-label="Go back to previous page"
    onclick="window.history.back()"
  >
    <Icon name="chevron-right" size="sm" class="shrink-0" />
    <span
      class="after:bg-primary relative block tracking-[2px] transition-all duration-200 ease-in-out after:absolute after:bottom-0 after:left-0 after:h-px after:w-full after:opacity-0 after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:opacity-100"
    >
      cd ..
    </span>
  </button>
</div>
