---
import Icon from "#/components/ui/icon.astro";

type Props = {
  icon?: string;
  class?: string;
};

const { icon, class: className } = Astro.props;
---

<span
  class:list={[
    className,
    "focus:ring-ring bg-muted text-muted-foreground box-border flex items-center gap-2 rounded border px-2 py-1 text-xs leading-none font-semibold transition-colors focus:ring-2 focus:ring-offset-2 focus:outline-none",
  ]}
>
  {icon ? <Icon name={icon} size="sm" /> : null}
  <slot />
</span>
