---
import type { ComponentProps } from "astro/types";
import { cn } from "#/lib/utils";

import Icon from "./icon.astro";
import Link from "./link.astro";

type Props = ComponentProps<typeof Link>;

const { class: className, id, variant, size, ...props } = Astro.props;
---

<Link
  {...props}
  {id}
  href={`#${id}`}
  size={size ?? "fluid-xl"}
  class={cn("text-foreground counter-item font-8bit max-w-max items-start space-x-2", className)}
>
  <h2><slot /></h2>
  <Icon
    name="link"
    size="sm"
    class:list={[
      "self-center duration-500 motion-safe:transition-all",
      "opacity-0 group-hover:opacity-100 group-hover:starting:opacity-0",
      "-translate-x-4 group-hover:translate-x-0 group-hover:starting:-translate-x-4",
    ]}
  />
</Link>
