---
import Button from "#/components/ui/button.astro";
import { cn } from "#/lib/utils";
import Icon from "./icon.astro";

const { class: className, ...props } = Astro.props;
---

<Button
  data-theme-toggle
  variant="ghost"
  size="icon"
  class={cn("cursor-pointer hover:bg-transparent", className)}
  aria-label="Toggle Theme"
  {...props}
>
  <Icon name="sun" size="md" class="not-dark:hidden" />
  <Icon name="moon-star" size="md" class="dark:hidden" />
</Button>

<script>
  import { handleToggleClick } from "astro-theme-toggle";

  const onThemeToggleClick = (event: Event) => {
    handleToggleClick(event as MouseEvent);
  };

  const handle = () =>
    document
      .querySelectorAll("[data-theme-toggle]")
      .forEach((element) => element.addEventListener("click", onThemeToggleClick));
  (handle(), document.addEventListener("astro:after-swap", handle));
</script>
