---
import Button from "#/components/ui/button.astro";
import Icon from "./icon.astro";
---

<Button
  id="theme"
  variant="ghost"
  size="icon"
  class="cursor-pointer hover:bg-transparent"
  aria-label="Toggle Theme"
>
  <Icon name="sun" size="md" class="not-dark:hidden" />
  <Icon name="moon-star" size="md" class="dark:hidden" />
</Button>

<script>
  import { handleToggleClick } from "astro-theme-toggle";
  const handle = () =>
    document
      .getElementById("theme")
      ?.addEventListener("click", handleToggleClick);
  (handle(), document.addEventListener("astro:after-swap", handle));
</script>
