---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

type Props = Omit<HTMLAttributes<"div">, "id" | "role" | "tabindex" | "hidden"> &
  ContentVariants & {
    /**
     * Value that identifies this tab content
     */
    value: string;
  };

export type ContentVariants = VariantProps<typeof variants>;

const variants = cva("mt-2 focus-visible:outline-2 focus-visible:outline-offset-2");

const { value, class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={variants({ className })}
  data-slot="tabs-content"
  data-tabs-content
  data-value={value}
  data-state="inactive"
  role="tabpanel"
  tabindex="0"
  hidden
>
  <slot />
</div>
